.fancy-input {
    position: relative;
    margin: 0 0 1em 0;
}

.fancy-input label {
    position: absolute;
    background: #fffbf0;
    padding: 0 .5em;
    font-size: .8em;
    top: -.6em;
    left: .5em;
    transition: all .2s ease;
}

.fancy-input label.like-placeholder {
    color: #666;
    font-size: .9em;
    margin-left: 1.3em;
    top: .6em;
    left: .5em;
}

.fancy-input input {
    padding: .6em;
}
