body {
    font-family: OpenSans, Arial, sans-serif;
    background: white;
}

div#note {
    border: .2em solid red;
    padding: 3pt;
    text-transform: uppercase;
}

form {
    width: 36em;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: relative;
    margin: 0 auto;
}

input {
    font-family: monospace;
}

input:not([type=radio]) {
    margin: 0 0 1em 0%;
    padding: .4em .4em .4em 1.8em;
    width: 60%;
    height: 2.6em;

}

.debug {
    font-size: small;
    line-height: 1;
}


input:required:valid  + label{
    background-color: #fff;
}

input.editme:required:valid {
    background: url("/hl7st/gfx/openiconic/png/check-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    background-color: #b4ff92;
    border: 1px solid #566256;
}

input.editme:invalid {
    background: url("/hl7st/gfx/openiconic/png/pencil-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    background-color: #fffbf0;
    border: 1px solid #e7c157;
}

input:focus, textarea:focus {
    border-color: #000;
}

input[type=radio] {
    border: 0px;
    height: 1em;
}

span#genderinputs {
    background: url("/hl7st/gfx/openiconic/png/pencil-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    background-color: #fffbf0;
    margin: 0 0 1em 0%;
    padding: .4em 0 .4em 0;
    width: 60%;
    display: block;
    border: 1px solid #e7c157;
}

span#genderinputs.valid {
    background: url("/hl7st/gfx/openiconic/png/check-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    background-color: #b4ff92;
    border-color: #566256;
}

span#genderinputs > input[type=radio] {
    margin-left: 1.8em;
}

.header {
    overflow: auto;
}

.header img {
    display: inline;
    width: 100px;
    height: 100px;
    float: right;
}

.header h1 {
    font-size: xx-large;
    text-align: center;
    display: inline;
    float: left;
}

button#btnSubmit:disabled {
    background: url("/hl7st/gfx/openiconic/png/lock-locked-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    color: #101010;
    pointer-events: none;
}
button#btnSubmit:enabled {
    background: url("/hl7st/gfx/openiconic/png/lock-unlocked-8x.png") no-repeat 2% 50%;
    background-size: 12px;
    background-color: #b4ff92;
    color: #101010;
}

button#btnSubmit:enabled:hover {
    background-color: #ffe214;
    color: #101010;
}

button#btnSubmit {
    display:block;
    margin: 0 auto;
}

button {
    font-family: OpenSans, Arial, sans-serif;
    font-size: small;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    border: #CCCCCC 1px solid;
}

.hideme {
    visibility: hidden;
}

div#feedback {
    font-size: 0.75em;
    color: #626262;
    border: 1px solid #CCC;
    border-radius: 0.25em;
    padding: 0.5em;
    max-width: 80%;
    display: block;
    margin: 1em auto;
}

div#feedback.success::before {
    content: "✔ ";
    color: green;
}

div#feedback.failure::before {
    content: "✗";
    color: red;
}

div#feedback > samp {
    font-size: 1.2em;
    /*margin-left: 5%;*/
    max-width: 60%;
    text-indent: 2em;
}

span#switchmode a {
    border: 1pt solid white;
    text-decoration: none;
}

span#switchmode a.active {
    border: 1pt solid white;
    text-decoration: underline;
}

span#switchmode span#note {
    font-size: .8em;
    color: #626262;
    margin-bottom: 0.2em;
    display: block;
}

span#switchmode a:hover {
    border: 1pt dashed #606060;
    text-decoration: none;
}

a.active::before {
    content: "»";
    color: green;
}
a.active::after {
    content: "«";
    color: green;
}

span.explanation{
    font-size: 0.75em;
    color: #626262;
}